body {
    background-color: rgb(228, 238, 240);
    padding-right:60px;
    overflow-x: hidden;
  }

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

#link-container {
    position: relative;
    height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(55, 88, 168);
    margin-top:20px;
    margin-left:30px;
    margin-right:0px;
    padding:10px;
    color:white;
    width: 100%;
    height: 2.5rem;
}

p{
    font-family: Verdana;
}

a:link {
    color: rgb(6, 0, 128);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(6, 0, 128);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

header {
    text-align: left;
    padding: 0px;
    padding-left: 30px;
}

.mycontainer {
    display: flex;
    padding: 10px;
    margin-top: -15px;
}
.mycontainer > div {
    margin: 20px;
    margin-right: 40px;
    font-family: verdana;
    font-weight: bold;
}

.container-1{
    display: flex;
}

.link {
    position: absolute;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    background-color: #4fc3f7;
    padding: 8px 12px;
    border-radius: 5px;
    transition: top 0.5s, left 0.5s; /* smooth movement */
    white-space: nowrap;
  }